
.vs/CarRacing/v16/.suo
.vs/CarRacing/v16/Server/sqlite3/db.lock
.vs/CarRacing/v16/Server/sqlite3/storage.ide
.vs/CarRacing/v16/Server/sqlite3/storage.ide-shm
.vs/CarRacing/v16/Server/sqlite3/storage.ide-wal
